button {
  width: 250px;

  padding: 5px 15px;
  border: none;
  background-color: #f27a1a;
  color: white;
  font-weight: bold;
  border: 1px solid #f27a1a;
  border-radius: 6px;
  background: #f27a1a;
  cursor: pointer;
}
